* {
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden;
  overflow-y: hidden; }

body {
  background: #aa171c; }

@keyframes music {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(35640deg); } }
.swiper-container {
  width: 100vw;
  height: 100vh; }

.swiper-wrapper {
  transition-timing-function: ease-in-out; }

.a {
  padding-top: 50%; }

.b {
  padding-top: 15%; }

.red {
  background: #aa171c; }
  .red section img {
    position: absolute;
    width: 150%;
    height: auto; }
  .red section img:nth-child(2) {
    width: 50%;
    right: 0;
    bottom: -50%; }
  .red div {
    position: absolute;
    top: 0; }
    .red div img {
      margin: 0 auto;
      display: flex;
      width: 50%;
      height: auto;
      margin-top: 5%; }
    .red div img:nth-child(1) {
      width: 40%;
      margin-top: -50%; }
    .red div img:nth-child(3) {
      width: 60%;
      margin-top: 100%;
      opacity: 0; }

#canvas {
  margin: 0 auto;
  display: block;
  padding-top: 35%;
  padding-bottom: 20%; }

.blue #swiper_2_bg {
  width: 100%;
  height: 100%;
  background: url("../images/swiper_2/bg.jpg"); }
.blue div {
  text-align: center; }

.music_xz {
  zoom: 150%;
  animation: music 300s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.green {
  background: green; }

.yellow {
  background: #f03; }
