* {
  margin: 0;
  border: 0;
  outline: none;
  font-family: arial; }

html {
  font-size: 62.5%;
  font-family: arial;
  overflow-x: hidden; }

body {
  overflow-x: hidden;
  overflow-y: hidden;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover; }

.box {
  width: 100%;
  height: 45px;
  margin-top: 20px;
  display: block;
  opacity: 0;
  position: relative; }

.box_1 {
  margin-top: 40px; }

.me {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: url(../images/me.jpg);
  background-size: 40px 40px;
  position: absolute;
  margin-left: 8px; }

.text, .text1, .text2, .text3, .text4, .text5, .text6, .text7, .text8, #play {
  width: 100%;
  height: 100%;
  background: url(../images/1.png) no-repeat;
  background-size: 64px 45px;
  margin-left: 50px; }

.text1 {
  background-size: 74px 45px; }

.text2 {
  background: url(../images/2.png) no-repeat;
  background-size: 149px 45px; }

.text3 {
  background: url(../images/3.png) no-repeat;
  background-size: 186px 45px; }

.text4 {
  background: url(../images/4.png) no-repeat;
  background-size: 197px 45px; }

.text5 {
  background: url(../images/5.png) no-repeat;
  background-size: 92px 45px; }

.text6 {
  background: url(../images/6.png) no-repeat;
  background-size: 110px 45px; }

.text7 {
  background: url(../images/7.png) no-repeat;
  background-size: 147px 45px; }

.text8 {
  background: url(../images/8.png) no-repeat;
  background-size: 114px 45px; }

#play {
  background: url(../images/play.png) no-repeat;
  background-size: 32px 32px;
  position: absolute;
  top: 6.5px;
  margin-left: 174px; }

.box_music {
  height: 200px; }

.music {
  margin-left: 70px;
  width: 200px;
  height: 80px;
  border-radius: 20px;
  background: white; }

#canvas {
  width: 180px;
  height: 40px;
  margin-top: 20px;
  margin-left: 10px; }
