* {
  margin: 0;
  padding: 0;
  outline: none; }

html {
  font-size: 10px;
  font-family: arial;
  overflow-x: hidden; }

body {
  overflow-x: hidden; }

::selection {
  background: #222;
  color: #f03; }

::-webkit-scrollbar {
  width: .3rem;
  background-color: white; }

::-webkit-scrollbar-thumb {
  background-color: #222; }

@keyframes navvan {
  50% {
    width: 35%;
    opacity: 1; }
  80% {
    width: 60%;
    opacity: .5; }
  100% {
    width: 88%;
    opacity: .2; } }
#warp {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  background: url(../images/bg.png) no-repeat fixed;
  background-size: cover;
  padding-top: 10%; }

.navvan {
  position: fixed;
  top: 0;
  z-index: 9;
  height: .3rem;
  background: #f03;
  animation: navvan .8s; }

.nav {
  width: 80%;
  height: auto;
  background: white;
  margin: 0 0 10% 10%;
  padding: 3% 5%;
  box-sizing: border-box; }

.search {
  width: 50%;
  height: 4rem;
  background: blue;
  display: flex;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5%; }

#search_text {
  width: 80%;
  height: 4rem;
  border: 0.2rem solid #f03;
  font: 1.8rem/4rem arial;
  text-indent: 1rem; }

#search_button {
  width: 20%;
  height: 4rem;
  line-height: 4rem;
  font: 1.5rem/4rem arial;
  border: 0.2rem solid #f03;
  display: block;
  background: #f03;
  color: white;
  cursor: pointer; }

ul li {
  display: flex;
  width: 100%;
  height: auto;
  font: 1.8rem/2rem arial; }
  ul li a {
    text-decoration: none;
    margin-right: 5%;
    color: #222; }
    ul li a:hover {
      color: #f03;
      transition: 1s; }
  ul li b {
    display: block;
    width: 15%;
    margin-right: 0;
    margin-bottom: 2rem;
    color: #f03;
    font-weight: normal;
    cursor: default; }
  ul li div {
    margin-right: 5%;
    cursor: pointer; }
    ul li div:hover {
      color: #f03;
      transition: 1s; }

.demo {
  width: 40%;
  height: 10rem;
  border-left: 7rem solid #f03;
  margin: 5% 0 0 10%;
  padding: 3% 5%;
  background: white;
  opacity: 0; }
  .demo div {
    font-size: 1.8rem; }
    .demo div a {
      text-decoration: none;
      color: #222; }
      .demo div a:hover {
        color: #f03;
        text-decoration: underline; }
  .demo div:nth-child(2) {
    width: 90%;
    margin: 2% 0;
    border: 0.1rem solid rgba(0, 0, 0, 0.4); }

.demo_animate {
  opacity: 1;
  transition: 2s; }
