@import "reset";

@media screen and (max-width: 620px) {

#warp{
	height: 100vh;
	padding-top: 20%;
}

.nav{
	width: 100%;
	margin:0 auto;
	margin-bottom: 15%;
	padding: 0;
	background:transparent;
}

.search{
	width: 95%;
}

#search_text{

}

ul{
	display: none;
}

.demo{
	width: 80%;
	height: 4rem;
	border-left: 2rem solid $color;
	margin:7% auto;
	padding: 3% 5%;
	background:white;
	div{
		display: none;
	}
	div:first-child{
		display: block;
		font-size: 2rem;
		line-height: 4rem;
	}
}











}