$color:#f03;
$bgcolor:#222;


*{
	margin: 0;
	padding: 0;
	outline: none;
}

html{
	font-size:10px;
	font-family: arial;
    overflow-x: hidden; 
}

body{
	overflow-x: hidden;	
}

::selection{
	background:$bgcolor;
	color: $color;
}

::-webkit-scrollbar{ 
	width: .3rem; 
    background-color: white;  
}  

::-webkit-scrollbar-thumb{
    background-color: $color;  
} 


@keyframes navvan{
    50% {
        width: 35%;
        opacity:1
	}
    80% {
        width: 60%;
	    opacity:.5;
	}
    100% {
        width: 88%;
        opacity:.2;
	}
}